#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
h1{
    font-style:italic;
    text-decoration: underline;
    color:red;
    font-size:45px;
}
.footer{
    background-color: gray;
    color:white;
}
.email{
    font-style:italic;
    font-size:18px;
}
.corona-img{
    height:100px;
    width: 200px;
}